package ${project.packageName}.bean.analysis;

public enum MsgMethodEnum {

	getupstreammsg,getupstreammsghour,getupstreammsgweek,getupstreammsgmonth,getupstreammsgdist,getupstreammsgdistweek,getupstreammsgdistmonth;
}
