package ${project.packageName}.bean.account;

import ${project.packageName}.bean.common.WechatErrorMsg;
import com.fasterxml.jackson.annotation.JsonProperty;

public class UrlReply extends WechatErrorMsg{


	
	@JsonProperty("short_url")
	private String shortUrl;

	public String getShortUrl() {
		return shortUrl;
	}

	public void setShortUrl(String shortUrl) {
		this.shortUrl = shortUrl;
	}
	
	
}
